body {
  background-color: #f8f8f8;
}

/*parte del menu que dice jessi */
h5 {
  color: #a5b8fb;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  font-size: 39px;
}
.titulo2 {
  color: #a5b8fb;
  font-family: "Trebuchet MS", sans-serif;

  font-size: 19px;
}
h1 {
  color: #a5b8fb;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 99px;
  text-shadow: 10px 5px 29px #a5b8fb;
}

.boton {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 5px #a5b8fb, 0 0 25px #ccd8e3, 0 0 50px #a5b8fb,
    0 0 100px #a5b8fb;
  outline: none;
  cursor: pointer;
  border-color: #a5b8fb;
}

.barra {
  background: transparent;
  color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccd8e3, 0 0 55px #a5b8fb, 0 0 50px #eae3fd,
    0 0 100px #eae3fd;
}
/* color alrededor del formulario */
.cuadro {
  background-color: transparent;
  border: none;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 255, 0.172),
    0 0 20px 5px rgba(0, 0, 255, 0), 0 0 50px 20px rgba(0, 0, 255, 0.021),
    0 0 20px 5px rgba(0, 0, 255, 0.114);
  outline: none;
  cursor: pointer;
}
.cuadro .cuadro textarea1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cuadro textarea:hover {
  color: black;
}
.todo {
  text-align: center;
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.dropdown-menu {
  background-color: transparent;
}

/* color de fondo de  formulario*/
.cuadro input,
.cuadro textarea {
  background-color: #f2f2f200;
}
/* botn para dezplazar hacia arriba de la pantalla */
.btn-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #a5b8fb;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 10s ease-in-out;
}

.btn-up:before {
  content: "\2191";
}

.btn-up:hover {
  opacity: 1;
}
/* redes */
.redes1 {
  margin: auto;
  display: flex;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 80px;
  left: 20px;
  border-radius: 100000px;
  background-color: rgba(0, 0, 255, 0.172);
  box-shadow: 0 0 20px 5px rgba(0, 0, 255, 0.172),
    0 0 20px 5px rgba(0, 0, 255, 0), 0 0 50px 20px rgba(0, 0, 255, 0.021),
    0 0 20px 5px rgba(0, 0, 255, 0.114);
}

.redes2 {
  margin: auto;
  display: flex;
  width: 29px;
  height: 29px;
  position: fixed;
  top: 120px;
  left: 20px;
}
.redes3 {
  margin: auto;
  display: flex;
  width: 29px;
  height: 29px;
  position: fixed;
  top: 160px;
  left: 20px;
}
.redes4 {
  margin: auto;
  display: flex;
  width: 29px;
  height: 29px;
  position: fixed;
  top: 200px;
  left: 20px;
}
.redes5 {
  margin: auto;
  display: flex;
  width: 29px;
  height: 29px;
  position: fixed;
  top: 240px;
  left: 20px;
}
