body {
  background-color: #f8f8f8;
}
/* espacio entre pàlabras en movimiento */
.word:not(:last-child) {
  margin-right: 1em;
}

/*parte del menu que dice jessi */
h5 {
  color: #a5b8fb;
  font-family: "Chivo Mono", monospace;

  font-size: 39px;
}
h6 {
  color: #a5b8fb;
  font-family: "Chivo Mono", monospace;

  font-size: 23px;
}
.titulo2 {
  color: #a5b8fb;
  font-family: "Trebuchet MS", sans-serif;

  font-size: 19px;
}
h1 {
  color: #a5b8fb;
  font-family: "Chivo Mono", monospace;
  text-align: center;
  font-size: 99px;
  text-shadow: 10px 5px 29px #8d9fe0;
}

.boton {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 5px #a5b8fb, 0 0 25px #ccd8e3, 0 0 50px #a5b8fb,
    0 0 100px #a5b8fb;
  outline: none;
  cursor: pointer;
  border-color: #a5b8fb;
}

.barra {
  background: transparent;
  color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccd8e3, 0 0 55px #a5b8fb, 0 0 50px #eae3fd,
    0 0 100px #eae3fd;
}
/* color alrededor del formulario */
.cuadro {
  background-color: transparent;
  border: none;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 255, 0.172),
    0 0 20px 5px rgba(0, 0, 255, 0), 0 0 50px 20px rgba(0, 0, 255, 0.021),
    0 0 20px 5px rgba(0, 0, 255, 0.114);
  outline: none;
  cursor: pointer;
}
.cuadro .cuadro textarea1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cuadro textarea:hover {
  color: black;
}
.todo {
  text-align: center;
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Chivo Mono", monospace;
}
.dropdown-menu {
  background-color: transparent;
}

/* color de fondo de  formulario*/
.cuadro input,
.cuadro textarea {
  background-color: #f2f2f200;
}
/* botn para dezplazar hacia arriba de la pantalla */
.btn-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #a5b8fb;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 10s ease-in-out;
}

.btn-up:before {
  content: "\2191";
}

.btn-up:hover {
  opacity: 1;
}
/* redes */
.redes1 {
  margin: auto;
  display: flex;
  width: 30px;
  height: 34px;
  position: fixed;
  top: 350px;
  left: 20px;
}

.redes2 {
  margin: auto;
  display: flex;
  width: 29px;
  height: 34px;
  position: fixed;
  top: 390px;
  left: 20px;
}
.redes3 {
  margin: auto;
  display: flex;
  width: 29px;
  height: 34px;
  position: fixed;
  top: 430px;
  left: 20px;
}
.redes4 {
  margin: auto;
  display: flex;
  width: 29px;
  height: 34px;
  position: fixed;
  top: 470px;
  left: 20px;
}
.redes5 {
  margin: auto;
  display: flex;
  width: 29px;
  height: 34px;
  position: fixed;
  top: 510px;
  left: 20px;
}
/* // animacion de letras  */

h6 {
  position: absolute;
  top: 125%;
  left: 45%;
  transform: translate(-49%, -90%);
}
#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#movable,
h6 {
  overflow: hidden;
  white-space: nowrap;
  border-right: transparent;
  width: 0;
  animation: typing 2s steps(30, end) forwards;
  animation-fill-mode: forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30em;
  }
}
/* //modo oscuro  */
body {
  background-color: #f8f8f8;
  color: #333;
}

.dark-mode {
  background-color: #333;
  color: #eee;
}
#modo-btn {
  position: fixed;
  display: inline-block;
  border: none;
  background-color: #303030; /* Agrega el color de fondo al botón */
  color: white;
  padding: 15px 29px;
  top: -2%;
  left: -34px;
  border-radius: 20px;
  z-index: 9999;
}

#modo-btn .circle {
  position: absolute;
  margin-left: -10px; /* Agrega un margen negativo para compensar el ancho del círculo */
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#modo-btn:hover {
  background-color: #a5b8fb; /* Cambia el color de fondo del botón al pasar el cursor */
}

#modo-btn:hover .circle {
  background-color: #ccd8e3; /* Cambia el color de fondo del círculo al pasar el cursor */
  transform: translateX(100%);
}
button {
  margin: 50px;
}
/* banda de letras  */
/* Define la grilla */
.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-auto-rows: 385px;
  background-color: #ccd8e3;
  top: 710px;
  left: -2px;
}

.letter-container {
  color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Chivo Mono", monospace;
  font-size: 122px;
  animation: move-right 30s linear infinite;
}
.letter-container {
  color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Chivo Mono", monospace;
  font-size: 122px;
  animation: move-right 30s linear infinite alternate; /* added "alternate" */
}

@keyframes move-right {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-3000px, 0, 0);
  }
}
